<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Rigister Page</title>
    <style>
        div{
            width:100%
            height:100px
            boarder:2px solid red
        }
    </style>
</head>
<body>
<h1>welcome to register to Amazon</h1>
<div>
    <form action="/register2" method="get">
        <p><input type="text" name="username" placeholder="please enter username"> </p>
        <p><input type="text" name="address" placeholder="please enter address"> </p>
        <p><input type="submit" value="submit"> </p>
    </form>
</div>

</body>
</html>